html {
    font-family: "Montserrat", sans-serif;
}

body {
    background: linear-gradient(to right, #ff0000, #00ff00, #0000ff, #ffff00);
}

h1 {
    font-size: 60px;
    text-align: center;
    background-color: #ddddff;
    margin-top: -10px;
    margin-left: -10px;
    margin-right: -8px;
    margin-bottom: 20px;
    padding: 40px 5px;
    padding-left: 30px;
    border: 5px solid #000000;
    border-top: 0px;
    border-right: 0px;
    border-left: 0px;
    position: fixed;
    width: 1230px;
}

h2 {
    font-size: 30px;
    margin-bottom: 10px;
}

h3 {
    margin-top: 0px;
    color: #666666;
}

a {
    text-decoration: none;
    font-size: 23px;
    padding-bottom: 20px;
}

.box {
    border: 2px solid black;
    border-radius: 20px;
    padding: 20px;
    padding-top: 10px;
    padding-bottom: 40px;
    align-content: center;
    text-align: center;
    background-color: #f9f9f9;
    width: 326px;
    margin-top: 170px;
}

#classrooms {
    position: fixed;
    float: left;
    margin-left: 10px;
    margin-right: 40px;
    line-height: 30px;
}

#resources {
    position: fixed;
    float: left;
    margin-left: 430px;
    margin-right: 40px;
    line-height: 30px;
}

#timetable {
    position: fixed;
    float: left;
    margin-left: 850px;
}

#reminders {
    position: fixed;
    margin-left: 430px;
    margin-top: 380px;
}

ul {
    list-style: none;
}